* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Verdana;
	background-color:#e6e6e6;
}


input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}


button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


.container {
	max-width: 1200px;
}


.bg0 {background-color: #fff;}
.bg1 {background-color: #f7f7f7;}


.formularz {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #e6e6e6;
  
}

.pole_formularza {
	width: 920px;
	background:#fff;
	padding:40px;
	margin-top:90px;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-color:#003300;
	border-width:medium;
	border-radius:15px;
}

.naglowek {
  display: block;
  width: 100%;
  font-family: Verdana;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 59px;
}


.butt-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 13px;
  padding:10px;
}

.rs1-butt-input100 {
  width: calc((100% - 30px) / 2);
}

.label-input100 {
  font-family: Verdana;
  font-size: 10px;
  color: #393939;
  line-height: 1.5;
  text-transform: uppercase;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Verdana;
  font-size: 12px;
  color: black;
  line-height: 1.2;
  padding-right: 15px;
}

.no-wrap {
  white-space: nowrap;
}

.input100-big {
    font-size: 18px;
}


input.input100 {
  height: 40px;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.przycisk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #333333;
  border-radius: 25px;
  margin-bottom: 40px;

  font-family: Verdana;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.przycisk:hover {
  background-color: #00ad5f;
}



@media (max-width: 768px) {
  .rs1-butt-input100 {
    width: 100%;
  }

}

@media (max-width: 576px) {
  .pole_formularza {
    padding: 62px 15px 90px 15px;
  }

  .butt-input100 {
    padding: 10px 10px 9px 10px;
  }
}


@media (max-width: 576px) {
  .alert-validate::before {
    padding: 0 10px 0 10px;
  }

  .true-validate::after,
  .btn-hide-validate {
    right: 0px;
    width: 30px;
  }
}


