
html, body {
  margin:0;
  padding:0;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size:cover; 
  font-family: Verdana;
  font-size: large;
  text-align:center;
  background-color:#e6e6e6;
}

.flex.box {
  display: flex;
}

.bg0 {background-color: #fff;}
.bg1 {background-color: #f7f7f7;}

.butt-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #b4b4b4;
  border-radius: 13px;
  padding: 5px;
  margin-bottom: 10px;
  text-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.margin {
  margin-top: 30px;
}

.btn {
	
	border: none;
	background-color: rgb(95, 95, 95);
	padding: 7px 14px;
	font-size: 14px;
	cursor: pointer;
	display: inline-block;
	color: white;
	font-weight: 500;
	font-family:Verdana;
	border-radius:5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn:hover {background: #45a049;}

.btn-box {
  margin-bottom: 50px;
}